body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    color: #000000;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input:focus, select:focus {
    outline: none;
    border-color: #fea6ef;
}

button {
    background-color: #ff5ee4;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #d22db7;
}

.required {
    color: red;
    font-size: 18px;
}

input[type="checkbox"] {
    width: auto;
    margin-top: 0;
}